/* COMMON ELEMENT */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.fa_color {
    color: #6b7376;
}

.fa_color2 {
    color: #b1b1b1;
}

/* BODY */
.bg_green{
    height: 15vh;

    background-color: #009688;
}

.bg_gray{
    height: 85vh;

    background-color: #d9dbd6;
}

.my_position {
    position: absolute;

    top: 50%;
    left: 50%;

    height: calc(100vh - 50px);
    width: 80%;

    background-color: white;

    transform: translateX(-50%) translateY(-50%);

    display: flex;
}

.side_left{
    width: 35%;
    height: 100%;

    border-right: 1px solid #c6bebe;
}

.top {
    width: 100%;
    height: 75px;

    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.avatar {
    width: 60px;
    height: 60px;

    border-radius: 50%;
    overflow: hidden;
}

.notifications_section {
    width: 100%;
    height: 80px;

    background-color: #8edafc;

    display: flex;
    align-items: center;
    gap: 5px;
}

.bell {
    width: 60px;
    height: 60px;

    color: #8edafc;
    background-color: #f2fbff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_bar {
    width: 100%;
    height: 50px;

    background-color: #fafafa;
}

.chats_section {
    width: 100%;
    height: calc(100% - 205px); 

    overflow: auto;
}

.chat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e9ebeb;
    cursor: pointer;
}

.side_right {
    width: 65%;
    height: 100%;
}

.single_chat {
    width: 100%;
    height: calc(100% - 145px);

    overflow: auto;

    background-image: url(../img/mine.jpg);
}

.container {
    /* contenitore diretto dei messaggi della chat */

    display: flex;
    flex-flow: column;
    align-items: flex-start;
    gap: 10px;

    margin: 0 auto;
}


/* message */

.message {
    position: relative;

    max-width: 320px;

    border-radius: 8px;
    background-color: #d5f9ba;

    padding: 18px 16px;
}

.message .time {
    position: absolute;
    bottom: 6px;
    right: 6px;

    font-size: 7px;
    color: #999;
}

.my_chevron {
    position: absolute;
    right: 0px;
    top: 10px;

    opacity: 0;
}

.message:hover .my_chevron{
    opacity: 1;
    transition: all 0.3s;
}

.message.sent {
    align-self: flex-end;
}

.message.received {
    background-color: white;
}

.text_bar {
    width: 100%;
    height: 70px;

    background-color: #f3eeea;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.my_w {
    width: 90%;
}