/* COMMON ELEMENT */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.fa_color {
    color: #6b7376;
}

.fa_color2 {
    color: #b1b1b1;
}

/* BODY */
.bg_green{
    height: 15vh;

    background-color: #009688;
}

.bg_gray{
    height: 85vh;

    background-color: #d9dbd6;
}

.my_position {
    position: absolute;

    top: 50%;
    left: 50%;

    height: calc(100vh - 50px);
    width: 80%;

    background-color: white;

    transform: translateX(-50%) translateY(-50%);

    display: flex;
}

.side_left{
    width: 35%;
    height: 100%;

    border-right: 1px solid #c6bebe;
}

.top {
    width: 100%;
    height: 75px;

    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.avatar {
    width: 60px;
    height: 60px;

    border-radius: 50%;
    overflow: hidden;
}

.notifications_section {
    width: 100%;
    height: 80px;

    background-color: #8edafc;

    display: flex;
    align-items: center;
    gap: 5px;
}

.bell {
    width: 60px;
    height: 60px;

    color: #8edafc;
    background-color: #f2fbff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_bar {
    width: 100%;
    height: 50px;

    background-color: #fafafa;
}

.chats_section {
    width: 100%;
    height: calc(100% - 205px); 
}

.chat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #b1b1b1;
}

.side_right {
    width: 65%;
    height: 100%;
}

.single_chat {
    width: 100%;
    height: calc(100% - 145px);

    background-image: url(../img/mine.jpg);
}

.text_bar {
    width: 100%;
    height: 70px;

    background-color: #f3eeea;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.my_w {
    width: 90%;
}